PORT=                 # Port the WebServer runs on                                                     | Default: 8080
COOKIE_SECRET=        # Secret for the cookie. Should be a random string.                              | Default: SET_THIS_VALUE_IN_DOTENV
DISABLE_REGISTRATION= # If set to true-like value (i.e., 1, true, yes), registration will be disabled. | Default: null (registration enabled)