<!DOCTYPE html>
<html>
    <head>
        <title>Home | CDN</title>
        <link rel="stylesheet" href="/static/css/globals.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <div class="hero">
            <h1>Home</h1>
            <p>Welcome to the CDN home page!</p>
            <button onclick="window.location.href = '/auth/login';">Login</button> <button onclick="window.location.href = '/auth/register';">Register</button>
        </div>
    </body>
</html>