<!DOCTYPE html>
<html>
    <head>
        <title>Register | CDN</title>
        <link rel="stylesheet" href="/static/css/globals.css">
        <link rel="stylesheet" href="/static/css/auth.css">
    </head>
    <body>
        <button onclick="window.location.href = '/';" class="back">Back</button>
        <div class="container">
            <h1>Register</h1>
            <% if (error) { %>
                <p class="error"> <%= error %> </p>
            <% } else { %>
                <p>Select a username and a password</p>
            <% } %>
            <form action="/auth/register/password" method="POST">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Register</button>
            </form>
        </div>
    </body>
</html>