body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

input {
    border-radius: 5px;
    border: 1px solid var(--primary);
    padding: 5px;
    outline: none;
    color: var(--text);
}

button {
    border-radius: 5px;
    border: 1px solid var(--primary);
    padding: 15px;
    background-color: var(--primary);
    color: var(--background);
    min-width: 100px;

    transition: background-color 0.3s, border 0.3s;
}

button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary);
    min-width: 200px;
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    color: var(--primary);
    text-decoration: none;
}

.container h1 {
    font-size: 3rem;
}

.container p {
    font-size: 1.5rem;
}

.error {
    color: red;
    animation: blink 1.5s infinite;
}

@media (prefers-color-scheme: dark) {
    .error {
        color: lightcoral;
        animation: blink 1.5s infinite;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
