@media (prefers-color-scheme: light) {
    :root {
      --text: rgb(11, 19, 30);
      --background: rgb(230, 230, 230);
      --primary: rgb(9, 68, 144);
      --secondary: rgb(107, 162, 235);
      --accent: rgb(17, 108, 228);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: rgb(225, 233, 244);
        --background: rgb(26, 26, 26);
        --primary: rgb(111, 170, 246);
        --secondary: rgb(20, 76, 148);
        --accent: rgb(27, 119, 238);
    }
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, sans-serif;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}